.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: monospace,sans-serif;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 70%;
}

button {
  padding: 8px 15px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

button:hover {
  background: #000000;
  color: white
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 5px 0;
  background: #f9f9f9;
  border-radius: 4px;
}

li button {
  background: #ffffff;
}

li button:hover {
  background: #000000;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
}

.todo-item:hover {
  background-color: #f5f5f5;
}

.filters button.active {
  background: #000000;
  color: white;
}